{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div>

<div class="row">
  <div class="col-9 mx-auto my-3">
    <h1>{% trans "Log In" %}</h1>
    <p>{% blocktrans %}To make a reservation, please log in.
      If you have not yet created an account, <a href="{{ signup_url }}">click here</a> to sign up.{% endblocktrans %}</p>
  </div>
</div>

  <div class="row">
    <div class="col-9 mx-auto">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
  </div>
</div>

{% endblock %}
