{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row heading-space mt-5">
  <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
      <div class="col-9 col-lg-6 text-center">
        <h1 class="h1 m-3">{% trans "Sign Out" %}</h1>
      </div>
  </div>
</div>



<p class="m-3 text-center">{% trans 'Are you sure you want to sign out?' %}</p>

<div class="m-3 text-center">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>

{% endblock %}
