{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row heading-space mt-5">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6 text-center">
          <h1 class="h1 m-3">{% trans "Change Password" %}</h1>
        </div>
    </div>
  </div>   
    <h1></h1>
    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
{% endblock %}
