{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="row heading-space mt-5">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6 text-center">
          <h1 class="h1 m-3">{% trans "Set Password" %}</h1>
        </div>
    </div>
</div>  

<div class="row">
    <div class="col-9 col-lg-6 mx-auto">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>
{% endblock %}
