{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row heading-space mt-5">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <h1 class="text-center h1">{% trans "Change Password" %}</h1>
        </div>
    </div>
</div>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    <div class="row">
        <div class="col-12 col-lg-6 text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary m-3" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="ml-3 text-white" href="{% url 'account_reset_password' %}"><u>{% trans "Forgot Password?" %}</u></a>
        </div>
    </div>
</form>
{% endblock %}
