{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
{% load crispy_forms_tags %}
<div class="row heading-space mt-5">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <h1 class="text-center h1">Approve or Decline Booking</h1>
        </div>
    </div>
</div>

<p class="col-9 my-3 mx-auto">* If declining: Add a comment to the customer and remove tables.</p>
<p class="col-9 my-3 mx-auto">* To select/deselect tables, press and hold control/command key when adding/removing</p>


<div class="col-9 my-4 mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary my-3" type="submit" name="Submit" value="Update">Update</button>
    </form>
    <button class="btn btn-light"><a href="{% url 'reservations:bookings_pending' %}">Return</a></button>
</div>
{% endif %}
{% endblock %}
