@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #332d24;
    color: whitesmoke;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.heading-space {
    height: 150px;
}

.h1-bg {
    width: 100%;
}

.text-muted {
    color: #a1a8af!important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
    text-decoration: none;
    color: inherit; 
  }

.card {
    border: none;
    background-color: transparent;
}


.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.border-dark {
    border-color: black!important;
}

/* -------------------------- nav bar ---------------------------- */
.navbar {
    background-color: #445261;
}

.navbar-light .navbar-brand {
    color: #eed71c;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.light .navbar-nav .nav-link {
    color: white;
}

/* ------------------------- Hero image ---------------------------- */

.hero-outer {
    height: 570px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

#hero-image {
    height: 575px;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

#menu-image {
    height: 600px;
    width: 100%;
    position: absolute;
    background-size: cover;
}


.hero-cover {
  width: 100%;
  height: 300px;
  position: relative;
}

.cover-text {
    animation-name: cover-text;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    
    position: relative;
    text-align: center;
    color: white;
    font-size: 200%;
    text-shadow: 1px 1px black;
    top: 275px;
}

@keyframes cover-text {
    from {
        opacity: 0;
        top: 290px;
    }

    to {
        opacity: 1;
        top: 240px;
    }
}


.cover-welcome {
    animation-name: welcome-opacity;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.0s;

    position: relative;
    color: white;
    font-size: 200%;
    opacity: 0;
    text-shadow: 1px 1px black;
    
    
}

@keyframes welcome-opacity {
    from {
        opacity: 0;
        top: 280px;
    }

    to {
        opacity: 1;
        top: 280px;
    }
}

/* --------------------- index --------------------------- */
 
.cta-animation {
    position: relative;
    animation-name: cta-opacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes cta-opacity {
    from {
        opacity: 0;
        top: 350px;
    }

    to {
        opacity: 1;
        top: 350px;
    }
}

.cta-pic {
    height: 200px;
    width: 80%;
    max-width: 250px;
    border-radius: 10%;
}

#cta-signup {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position-x: center;
}


.icon {
    font-size: 50px;
}


.cta-div {
    padding-left: 0;
    padding-right: 0;
}

.animation {
    animation-duration: 0.5s;
    animation-direction: normal;
}

.animation:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease 0s;
}

.animation:not(:hover) {
    transform: translateY(0px);
    transition: all 0.3s ease 0s;
}

/* ----------------- bookings ------------------------- */

.booking-pending, .booking-button {
    background-color: #55402d;
}

.booking-confirmed {
    background-color: #066000;
}

.booking-declined {
    background-color: #ac0918;
}

.booking-cover-text {
    animation-name: booking-cover-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
    text-align: center;
    color: white;
    font-size: 200%;
    text-shadow: 1px 1px black;
    top: 275px;
}

.bottom-card-bg {
    background-color: #917058;
}

.booking-text {
    background-color: rgba(0, 0, 0, 0.2);
}

@keyframes booking-cover-animation {
    from {
        opacity: 0;
        top: 175px;
    }

    to {
        opacity: 1;
        top: 150px;
    }
}

.card-animation {
    animation-name: booking-animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
    text-shadow: 1px 1px black;
}

@keyframes booking-animation {
    from {
        opacity: 0;
        top: 240px;
    }

    to {
        opacity: 1;
        top: 240px;
    }
}

/* ----------------------------- book table ------------------------------ */

.book-table {
    background-color: #40597a;
    border-radius: 10%;
}

.hours {
    background-color: #40597a;
    border-radius: 10%;
}

textarea {
    max-height: 150px;
}

/* -------------------------- footer --------------------------------- */

.footer {
    background-color: #333;
}

/* ------------------------------ menu list --------------------------------- */

.feature-media .img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 175px;
}

.feature-media > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.feature-media .text {
    padding: 30px 30px 30px 30px;
    text-align: center;
}

#hint_id_password a {
    color: white;
    text-decoration: underline;
}

.meal-bg {
    background-image: url(../images/site/background-black.webp);
}

.form-control {
    width: 100%;
}

.title {
    font-family: Roboto;
}

/* --------------------------- media queries ------------------------------ */

@media (min-width: 1400px) {
.container {
    max-width: 1320px;
}
}

@media (min-width: 1200px) {
.container {
    max-width: 1140px;
}
}

@media screen and (max-width: 990px) {
    
    .img {
        height: 200px;
    }
    .feature-media > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

/* @media screen and (max-width: 768px) {
    #hero-image {
        height: 450px;
    }

    .hero-outer {
        height: 460px;
    }

    .cover-text {
        top: 250px;
    }

    .cover-welcome {
        position: sticky;
    }
} */

@media screen and (max-width: 576px) {
    .icon {
        font-size: 25px;
    }
}

/* ------------------------- commented out --------------------------- */

/* #menu-text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 200%;
    
    animation-name: text-opacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
} */

/* .background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
} */

/* .stretch {
    width:100%;
    height:100%;
} */

/* .image-container {
    position: relative;
} */

/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
} */

/* .author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
} */

/* .masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
} */

/* .masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
} */

/* .masthead-image {
    position: relative;
    overflow: hidden;
} */

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
} */

/* .post-link {
    text-decoration: none;
    color: #445261;
} */

/* .post-link:hover,
.page-link {
    color: #E84610;
} */

/* .post-title {
    margin-top: 20%;
    margin-left: 5%;
} */

/* .post-subtitle {
    margin-left: 5%;
    color: lightgray;
} */

/* .btn-signup {
    background-color: #23BBBB;
    color: #fff;
} */

/* .btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
} */

/* .brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
} */

/* .thin {
    font-weight: 300;
} */


/* .welcome {
    margin: 3%;
} */

/* .booking {
    margin: 3%;
} */

/* .meal-div {
    padding-left: 0;
    padding-right: 0;
} */

/* .light-bg {
    background-color: #fff;
} */

/* .black-bg {
    background-color: #445261;
} */

/* .main-bg {
    background-color:#5D5C61;
} */

/* .profile-div {
    background-color: #445261;
    max-width: 200px;
} */

/* .menu-row {
    background-color: #90c5f4!important;
} */

/* .img-fluid {
    height: auto;
    width: 80%;
} */