{% extends "base.html" %}
{% block content %}

<div class="row heading-space mt-5">
  <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
      <div class="col-9 col-lg-6">
          <h1 class="text-center h1">Page not found</h1>
      </div>
      <div class="col-9 col-lg-6">
        <p class="text-center lead">The page you've reached does not exist</p>
    </div>
    <div class="col-9 col-lg-6">
        <p class="text-center lead"><a href="{% url 'homepage' %}">Here</a> is a link back to the main page</p>
    </div>
  </div>
</div>

{% endblock content%}