{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Dre's Diner</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <!-- <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}"> -->

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
  <!-- Nav Bar from Bootstrap -->
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-cloud-meatball"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Actions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'reservations:bookings_updated' %}">Updated Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:bookings_pending' %}">Pending Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:book_table' %}">Book Table</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservations:profile' %}">Admin Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% elif user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Booking
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'reservations:book_table' %}">New Booking</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:booking_list' %}">Upcoming Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:booking_list_previous' %}">Previous Bookings</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservations:profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

</header>
    <main class="flex-shrink-0">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center text-white">Made by Dre</p>
        <p class="m-0 text-center text-white">Follow me: 
          <a href="https://facebook.com" aria-label="Visit our Facebook page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-facebook-square ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://youtube.com" aria-label="Visit our Youtube channel (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-youtube-square ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://github.com/AndreasChristensen89?tab=repositories" aria-label="Visit our twitter page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-github ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://instagram.com" aria-label="Visit our instagram page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-instagram-square ms-3 text-white" aria-hidden="true"></i></a></p>
    </footer>
    <script>
      $(function () {
        $("#id_booking_start").datetimepicker({
          format: 'Y-m-d H:i',
        });
      });
    </script>
    <script>
      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 2500);
  </script>
</body>
</html>