{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Dre's Diner</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-32x32.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--XDSoft DateTimePicker-->
    <!-- https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
  <!--Nav Bar-->
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-cloud-meatball"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu:menulist' %}" aria-label="Jump to Home page">Menu</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Actions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'reservations:bookings_pending' %}" aria-label="Go to admin pending bookings">Pending Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:bookings_accepted' %}" aria-label="Go to admin accepted bookings">Accepted Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:bookings_updated' %}" aria-label="Go to admin updated bookings">Updated Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:book_table' %}" aria-label="Go to book table">Book Table</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservations:profile' %}" aria-label="Go to admin profile">Admin Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Go to logout page">Logout</a>
          </li>
          {% elif user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Booking
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'reservations:book_table' %}" aria-label="Go to booking page">New Booking</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:booking_list' %}" aria-label="Go to user's upcoming bookings">Upcoming Bookings</a></li>
              <li><a class="dropdown-item" href="{% url 'reservations:booking_list_previous' %}" aria-label="Go to user's previous bookings">Previous Bookings</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservations:profile' %}" aria-label="Go to user's profile page">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:contact_login' %}" aria-label="Go to contact page">Contact Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Go to logout page">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:contact' %}" aria-label="Go to contact page">Contact Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Go to signup page">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}" aria-label="Go to login page">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container fixed-top">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-12 position-fixed">
    <img class="img mt-1" id="hero-image" src="{% static 'images/site/hero-pic.webp' %}"
        alt="Clean and bright bar counter with blurry background">
  </div>

    <main class="flex-shrink-0">
        {% block content %}
        {% endblock content %}
    </main>
  
    <!-- <footer class="footer mt-auto py-3">
        <p class="m-0 text-center text-white">Made by Dre</p>
        <p class="m-0 text-center text-white">Follow me: 
          <a href="https://facebook.com" aria-label="Visit our Facebook page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-facebook-square ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://youtube.com" aria-label="Visit our Youtube channel (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-youtube-square ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://github.com/AndreasChristensen89?tab=repositories" aria-label="Visit my Github page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-github ms-3 text-white" aria-hidden="true"></i></a>
          <a href="https://instagram.com" aria-label="Visit our instagram page (opens in a new tab)"
          target="_blank" rel="noopener"><i class="fab fa-instagram-square ms-3 text-white" aria-hidden="true"></i></a></p>
    </footer> -->
    <!-- datetimepicker function is from link below -->
    <!-- https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->
    <script>
      $(function () {
        $("#id_booking_start").datetimepicker({
          format: 'Y-m-d H:i',
        });
      });

      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 1500);
    </script>
</body>
</html>