{% extends 'base.html' %}

{% block content %}
    <ul>
{% for booking in booking_list %}
{% if user == booking.author or user.is_superuser %}
    <div class="card border border-dark m-3" style="width: 18rem;">
        <div class="card-body text-dark">
            <h5 class="card-title">{{booking.first_name}} {{booking.last_name}}</h5>
            <hr>
            {% if booking.status == 1%}
            <p class="card-text text-dark">Confirmed</p>
            <p class="card-text text-dark">
                <hr>
                {% for table in booking.table.all %}
                <p>1 x table for {{ table.size }}</p>
                {% endfor %}
                <hr>
            </p>
            {% elif booking.status == 2%}
            <p class="card-text text-dark">Declined</p>
                <hr>
                <p>We are unfortunately not able to accept your reservation</p>
                <hr>
                <p>{{booking.comment}}</p>
            {% else %}
            <p class="card-text text-dark">Pending</p>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{booking.booking_start|date}}</li>
            <li class="list-group-item">{{booking.booking_start|time}}</li>
            <li class="list-group-item">{{booking.number_guests}} guests</li>
        </ul>
        {% if booking.status != 2%}
        <div class="card-body">
            <a href="{% url 'bookings:cancel_booking' booking.slug %}" class="card-link">Cancel</a>
            <a href="{% url 'bookings:update_booking' booking.slug %}" class="card-link">Update information</a>
        </div>
        {% endif %}
    </div>
    {% endif%}
{% endfor %}
</ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}