{% extends 'base.html' %}

{% block content %}
{% if user == booking.author or user.is_superuser %}
    {% if booking.status == 1 %}
        <h2>Booking accepted</h2>
        <h4>We have reserved the following for you:</h4>
            {% for table in booking.table.all %}
                <p>    1 table for {{ table.size }} guests</p>
            {% endfor %}
    {% else %}
        <h3>Status of booking:</h3>
        <p>Pending</p>
    {% endif %}
    <h3>Name:</h3>
    <p>{{ booking.first_name}} {{ booking.last_name }}</p>
    <h3>Date and time</h3>
    <p>{{ booking.booking_start }}</p>
    <h3>Guests:</h3>
    <p>{{ booking.number_guests }}</p>
    
    <h3>Notes: </h3>
    <p>{{ booking.comment }}</p>
    <h5>Reservation created on:</h5>
    <p>{{ booking.created_on }}</p>

    <h3><a href="{% url 'bookings:update_booking' booking.slug %}">Update reservation information</a></h2>

    <h3><a href="{% url 'bookings:cancel_booking' booking.slug %}">Cancel reservation</a></h2>
{% endif %}
{% endblock %}