{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if user.first_name %}
{% load crispy_forms_tags %}
<div class="row menu mt-5">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <h1 class="text-center h1">Book a Table</h1>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-8 col-lg-6 mx-auto mb-3">
          <form method="post">

              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-lg my-3 booking-button text-white">Book</button>

          </form>
      </div>
  </div>

{% else %}

<div class="row menu">
    <div class="col-3 h1-bg mx-auto d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <p class="text-center">Please fill in your name in the <a href="/reservations/profile/">profile section</a> before making a reservation
            </p>
        </div>
    </div>
</div>


{% endif %}
{% else %}
<p>Please log in to make a reservation</p>
{% endif %}

{% endblock %}