{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-outer">
    <img class="img" id="hero-image" src="{% static 'images/site/hero-pic.webp' %}"
        alt="Fresh ingredients items on a black surface">
    <div class="booking-cover-text">
        <h1>Your upcoming bookings</h1>
    </div>
    <div class="row">
    {% for booking in booking_list %}
        <div class="col-6 col-md-4 card p-4 mx-auto text-center card-animation" style="width: 18rem;">
            {% if booking.status == 1%}
            <div class="card-body rounded-top booking-confirmed">   
                    <p class="card-text round">Confirmed</p>
                    {% for table in booking.table.all %}
                        <p class="card-text">1 x table for {{table.seats}}</p>
                    {% endfor %}
            {% elif booking.status == 2%}
            <div class="card-body rounded-top booking-declined">    
                <p class="card-text">Declined</p>
                <p class="card-text">{{booking.comment}}</p>
            {% else %}
            <div class="card-body rounded-top booking-pending">   
                <p class="card-text">Pending</p>
                <p class="card-text">Reservation to be confirmed</p>
            {% endif %}
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{booking.booking_start|date}} - {{booking.booking_start|time}}</li>
            <li class="list-group-item">{{booking.number_guests}} guests</li>
            </ul>
            {% if booking.status != 2%}
                <div class="card-body rounded-bottom bottom-card-bg">
                    <a href="{% url 'reservations:cancel_booking' booking.slug %}" class="card-link">Cancel</a>
                    <a href="{% url 'reservations:update_booking' booking.slug %}" class="card-link">Edit comment</a>
                </div>
            {% else %}
            <div class="card-body rounded-bottom">
                <a href="{% url 'reservations:book_table' %}" class="card-link">Book another time</a>
            </div>
            {% endif %}
        </div>
{% endfor %}
</div>
</section>

    <div class="m-3 pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}