{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.first_name %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center display-3 m-3">Book a Table</h1>
        </div>
    </div>
    
        <form method="post">
            <div class="row">
                <div class="col-12 mx-4 mb-3 lead">
                {% csrf_token %}
                {{ form|crispy }}
                </div>
            </div>
              <button type="submit" class="btn btn-primary btn-lg m-4">Submit</button>
        </form>
    
    {% else %}
        <h3>Please fill in your name in the <a href="/reservations/profile/">profile section</a> before making a reservation</h3>
    {% endif %}
{% else %}
    <p>Please log in to make a reservation</p>
{% endif %}

{% endblock %}