{% extends 'base.html' %}

{% block content %}
{% if user == booking.author or user.is_superuser %}
    <h1>Full name:</h1>
    <p>{{ booking.first_name}} {{ booking.last_name }}</p>
    <h2>Date and time</h2>
    <p>{{ booking.booking_start }}</p>
    <h3>Guests:</h3>
    <p>{{ booking.number_guests }}</p>
    <h3>Tables:</h3>
    <p>{{ booking.table.count }} tables</p>
    {% for table in booking.table.all %}
    <p>    One table for {{ table.size }}</p>
    {% endfor %}
    <h3>Notes: </h3>
    <p>{{ booking.comment }}</p>
    <h3>Status:</h3>
    <p>Pending</p>
    <h5>Reservation created on:</h5>
    <p>{{ booking.created_on }}</p>

    <a href="{% url 'bookings:update_booking' booking.slug %}">Update reservation information</a>

    <a href="{% url 'bookings:cancel_booking' booking.slug %}">Cancel reservation</a>
{% endif %}
{% endblock %}