{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for booking in booking_list %}
            {% if user == booking.author or user.is_superuser %}  
            <li>
                <a href="{% url 'bookings:booking_detail' booking.slug %}">
                    <div>
                        <p>{{ booking.first_name }} {{ booking.last_name }}
                            - {{ booking.date }} at {{ booking.time }} for 
                                {{ booking.number_guests }} people</p>
                    </div>
                </a>
            </li>
            {% endif%}
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}