{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

<div class="row menu">
  <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
      <div class="col-9 col-lg-6">
          <h1 class="text-center h1">Contact Us</h1>
      </div>
  </div>
</div>
<p class="col-9 lead text-center mx-auto mb-4">Don't hesitate to contact us in case you have any questions, feedback, or comments.</p>

<!--Contact form-->
<div class="row">
    <div class="col-8 mx-auto">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary text-center my-2" data-toggle="modal" data-target="message" type="submit">Submit</button>
    </form>
    </div>
</div>
  
{% endblock content%}