{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row heading-space mt-5">
  <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
      <div class="col-8 col-lg-6">
          <h1 class="text-center h1">Contact Information</h1>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text text-center">
    <p class="mx-2">Don't hesitate to send us a message if you have any questions or feedback</p>
    <p class="mx-2">You can also reach us via the contact details down below</p>
  </div>
</div>

<!--Contact form-->
<div class="container">
<div class="row">
    <div class="col-8 mx-auto">
      <form id="form" method="post">
  
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn-lg m-4" data-toggle="modal" data-target="message" type="submit">Send</button>
  
      </form>
    </div>
  
  </div>
</div>

<div class="row my-5">
  <div class="col-12 col-sm-6 my-4 text-center">
    <h2 class="text-center h2 mb-3">Opening Hours</h2>
    <div class="col text text-center">
      {% for day in opening_list %}
      <p>{{day}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-sm-6 my-4 text-center">
    <h2 class="text-center h2 mb-3">Address</h2>
    <div class="col text text-center">
      <p class="my-3">Dre's Diner</p>
      <address>
        Askevangen 101<br>
        3450, Allerød<br>
        Denmark<br>
        Phone: +45 00 00 00 00
        </address>
    </div>
  </div>
</div>
  
{% endblock content%}