{% extends 'base.html' %}

{% block content %}
<section id="hero-outer">
    <div class="col-12" id="hero-image">
        <span class="img-fluid" role="img" aria-label="Fresh ingredients items on a black surface"></span>
    </div>
    <div id="hero-cover">
        <div id="cover-text">
            {% if user.is_authenticated %}
                {% if user.first_name %}
                    <h1>Welcome to Dre's Diner</h1>
                    <h2>Good to see you, {{user.first_name}}</h2>
                {% else %}
                    <h1>Welcome to Dre's Diner</h1>
                    <h2>Welcome {{user.username}}</h2>
                {% endif %}
        </div>
    </div>
</section>

    <!-- -------------------------- call to action logged in -------------------------------- -->
<!-- <div class="container"> -->
    <div class="row">
        
            <div id="cta-div" class="col-12 col-sm-4">
                <a href="/contact/">
                <div class="animation bg-image" id="cta-contact">
                </div>
                <div class="text-center bg-dark border border-dark">
                    <p class="lead h3 text-dark text-white">Contact</p>
                </div>
                </a>
            </div>
          
            <div id="cta-div" class="col-12 col-sm-4">
                <a href="/menu"> 
                <div class="animation bg-image" id="cta-menu">
                </div>
                <div class="text-center bg-dark border border-dark">
                    <p class="lead h3 text-dark text-white">Menu</p>
                </div>
                </a>
            </div>

            <div id="cta-div" class="col-12 col-sm-4">
                <a href="{% url 'reservations:profile' %}">
                <div class="animation bg-image" id="cta-profile">
                </div>
                <div class="text-center bg-dark border border-dark">
                    <p class="lead h3 text-dark text-white">Profile</p>
                </div>
                </a>
            </div>
    </div>
<!-- </div> -->

{% else %}
                <h2>Welcome to Dre's Diner</h2>
        </div>
    </div>
</section>

<!-- -------------------------- call to action logged out -------------------------------- -->
<!-- <div class="row">
    <div class="col-3 h1-bg">
    <p class="text-center welcome">If you wish to book a table at this restaurant you need to log in or sign up.</p>
    </div>
</div> -->
<!-- ---------------------------------- -->
<div class="row">
        
    <div id="cta-div" class="col-12 col-sm-6 text-center animation">
        <a href="{% url 'account_signup' %}"> 
        <div>
            <i class="animation fas fa-user-plus"></i>
        </div>
        <div class="text-center border border-dark">
            <p class="lead text-white">Register</p>
        </div>
        </a>
    </div>
  
    <div id="cta-div" class="col-12 col-sm-6 text-center animation">
        <a href="{% url 'account_login' %}"> 
        <div>
            <i class="animation fas fa-users"></i>
        </div>
        <div class="text-center border border-dark">
            <p class="lead text-white">Log In</p>
        </div>
        </a>
    </div>

</div>
<!-- ------------------------------ -->
{% endif %}

{% endblock %}