{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}
    
    {% if user.first_name %}
    <div class="row">
        <div class="col-3 h1-bg m-3">
            <h1 class="text-center display-2">Welcome {{user.first_name}}</h1>
        </div>
    </div>
    {% else %}

        <h1>Welcome {{user.username}}</h1>

    {% endif %}
{% else %}
<div class="row">
    <div class="col-3 h1-bg m-3">
        <h1 class="text-center display-2">Welcome to the site.</h1>
    </div>
</div>
<div class="row">
    <div class="col-3 h1-bg">
    <p class="text-center welcome">If you wish to book a table at this restaurant you need to <a href="{% url 'account_login' %}">
    log in</a> or <a href="{% url 'account_signup' %}"> sign up.</a></p>
    </div>
</div>
{% endif %}

{% endblock %}