{% extends 'base.html' %}

{% block content %}
<section id="hero-outer">
    <div class="col-12" id="menu-image">
        <span class="img-fluid" role="img" aria-label="Clean and bright asphalt road in a city park"></span>
    </div>
    <div id="hero-cover">
        <div id="cover-text">
            <h2>Menu</h2>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center m-5">
        <h3 class="h3">All our food is made from fresh and organic ingredients.</h3>
    </div>
</div>


<!-- <div class="container py-5"> -->
    {% for category in categories %}
    <div class="col-12 my-5">
        <h3 class="text-center display-4">{{category}}</h3>
    </div>
    <div class="container">
        <div class="row">
        {% for meal in menu_list %}
        {% if meal.category == category %}
            <div class="col-6 col-sm-4 col-lg-3 text-center mx-auto my-2 meal-div px-1">
                <img class="img-fluid meal-img meal-image rounded" src="{{meal.image.url}}" alt="image of {{category}} item">
                <div class="text-white meal-description">
                    <h5 class="h5 mt-2">{{meal.name}}</h5>
                    <p><small class="text-muted">€{{meal.price}}</small></p>
                    <p class="mx-2 meal-description">{{meal.description}}</p>
                </div>                  
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
<!-- </div> -->

{% endblock %}