{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-outer">
    <div class="col-12">
        <img class="img" id="hero-image" src="{% static 'images/site/hero-pic.jpg' %}"
            alt="Fresh ingredients items on a black surface">
        <!-- <span class="img-fluid" role="img" aria-label="Fresh ingredients items on a black surface"></span> -->
    </div>
    <div id="cover-text">
        <h1>Eat healthy and feel good</h1>
    </div>
</section>

<div class="row mt-5">
    <div class="col-12 text-center px-5">
        <h3 class="h3">All our food is made from fresh and organic ingredients.</h3>
        <h4 class="h4">Everything served has been put through a rigorous process to ensure optimal quality, health, and flavor</h4>
    </div>
</div>



{% for category in categories %}
<div class="row">   
    <div class="col-12 my-5">
        <h3 class="text-center display-4">{{category}}</h3>
    </div>
</div> 

<div class="section section-1">
    <div class="container">
        <div class="row g-0 align-items-stretch meal-bg">
                {% for meal in menu_list %}
                {% if meal.category == category %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="col-lg-12">
                        <div class="d-block d-lg-flex feature-media align-items-stretch">
                            {% if forloop.counter not in list_odd %}
                            <div class="img" style="background-image: url({{meal.image.url}});"></div>
                            <div class="text">
                                <h3>{{meal.name}}</h3>
                                <p>{{meal.description}}</p>
                                <p><span>{{meal.price}}</span></p>
                            </div>
                            {% else %}
                            <div class="text">
                                <h3>{{meal.name}}</h3>
                                <p>{{meal.description}}</p>
                                <p><span>{{meal.price}}</span></p>
                            </div>
                            <div class="img" style="background-image: url({{meal.image.url}});"></div>
                            {% endif %}
                    {% elif forloop.last %}
                            <div class="img" style="background-image: url({{meal.image.url}});"></div>
                            <div class="text">
                                <h3>{{meal.name}}</h3>
                                <p>{{meal.description}}</p>
                                <p><span>{{meal.price}}</span></p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        {% if forloop.counter not in list_even %}    
                        <div class="img" style="background-image: url({{meal.image.url}});"></div>
                        <div class="text">
                            <h3>{{meal.name}}</h3>
                            <p>{{meal.description}}</p>
                            <p><span>{{meal.price}}</span></p>
                        </div>
                        {% else %}
                        <div class="text">
                            <h3>{{meal.name}}</h3>
                            <p>{{meal.description}}</p>
                            <p><span>{{meal.price}}</span></p>
                        </div>
                        <div class="img" style="background-image: url({{meal.image.url}});"></div>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<div class="row text-center my-5">
    <div class="col-12">
        <p>Feel free to <a style="text-decoration: underline;" href="{% url 'contact' %}">reach out</a> for more information about our menu</p>
    </div>
</div>

{% endblock %}