{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
<div class="row menu">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <h1 class="text-center h1">Pending Bookings</h1>
        </div>
    </div>
</div>

<div class="row">
{% for booking in pending_list %}
        <div class="col-9 col-sm-6 col-md-4 col-lg-3 card mx-auto p-4" style="width: 18rem;">
            <div class="card-body rounded-top booking-pending">
                <h5 class="card-title">{{booking.author.first_name}} {{booking.author.last_name}}</h5>    
                    <p class="card-text round">Pending</p>
                    {% for table in booking.table.all %}
                        <p class="card-text">1 x table for {{table.seats}}</p>
                    {% endfor %}
            </div>
            <ul class="list-group list-group-flush border">
            <li class="list-group-item">{{booking.booking_start|date}} - {{booking.booking_start|time}}</li>
            <li class="list-group-item">{{booking.number_guests}} guests</li>
            </ul>
            <div class="card-body rounded-bottom">
                <a href="{% url 'reservations:cancel_booking' booking.slug %}" class="card-link">Cancel</a>
                <a href="{% url 'reservations:approve_booking' booking.slug %}" class="card-link">Approve/Decline</a>
            </div>
        </div>

{% endfor %}
</div>

    <div class="m-3 pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
<div class="row menu">
    <div class="col-3 h1-bg mx-auto mt-3 mb-4 d-flex align-items-end justify-content-center">
        <div class="col-9 col-lg-6">
            <p class="text-center lead">You need admin credentials to access this page</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}