{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section class="hero-outer">
  <img class="img" id="hero-image" src="{% static 'images/site/hero-pic.webp' %}"
      alt="Fresh ingredients items on a black surface">
<div class="cover-text">
  <h1 class="h1 mx-auto display-4">Profile</h1>
</div>
<div class="col-10 mx-auto text-center cover-welcome">
  <p class="text lead mx-auto">Your details are down below</p>
</div>
</section>

<!--User Profile-->
<div class="row">
  <div class="col-8 col-lg-6 mx-auto mb-3">
    <form id="form" method="post" class="mt-3">

      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary btn-lg m-4" data-toggle="modal" data-target="message" type="submit">Save</button>

    </form>
  </div>

</div>

{% endblock content%}