{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}
    <ul>
    {% for reservation in reservation_list %}
        {% if reservation.status == 0 %}
            <li>    
                <a href="{% url 'reservation_detail' reservation.slug %}">
                    <div>
                        <p>{{ reservation.first_name }} {{ reservation.last_name }} - 
                            {{ reservation.date }} at {{ reservation.time }} for {{ reservation.number_people }} people</p>
                    </div>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>You need a big boy account to see this content</p>
{% endif %}

{% endblock %}