{% extends 'base.html' %}

{% block content %}
    <h1>Full name:</h1>
    <p>{{ reservation.first_name}} {{ reservation.last_name }}</p>
    <h2>Date and time</h2>
    <p>{{ reservation.date }} -  {{ reservation.time }}</p>
    <h3>Guests:</h3>
    <p>{{ reservation.number_guests }}</p>
    <h3>Allergies</h3>
    <p>{{ reservation.comment }}</p>
    <h3>Status:</h3>
    <p>Pending</p>
    <h4>Customer email:</h4>
    <p>{{ reservation.email }}</p>
    <h4>Customer phone:</h4>
    <p>{{ reservation.phone }}</p>
    <h5>Reservation created on:</h5>
    <p>{{ reservation.created_on }}</p>

    <a href="{% url 'reservations:update_reservation' reservation.slug %}">Update reservation information</a>

    <a href="{% url 'reservations:cancel_reservation' reservation.slug %}">Cancel reservation</a>
{% endblock %}