{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
    <hr>
    {% for booking in updated_list %}
        {% if booking.updated_on|date:'Y-m-d H:i:s' > booking.created_on|date:'Y-m-d H:i:s' %}
            <p>Name: {{booking.first_name}} {{booking.last_name}}</p>
            <p>Date: {{booking.booking_start}}</p>
            <p>Message: {{booking.comment}}</p>
            <p>Created on: {{booking.created_on}}</p>
            <p>Updated on: {{booking.updated_on}}</p>
            <a href="{% url 'reservations:update_booking_admin' booking.slug %}" class="card-link">Edit Reservation</a>
            <hr>
        {% endif %}
    {% endfor %}

{% endif %}
{% endblock %}